<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/chat/chat.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="chatlist">
      <div class="ltstChat"  style="cursor: pointer;" 
        onclick="RSChat.start('2', 'User 2')">
        <div class="chatProfilePic">
          <img src="images/user2.png" height="50">
        </div>
        <div class="chatListDtl">
          <b>User 2</b><br>
          <small>Click vào để chat với User2</small>
        </div>
      </div>
        
    </div>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    
    <script type="text/javascript" src="chat/chat.min.js"></script>
    
    <script type="text/javascript">
    
    RSChat.init({
      socketUrl: 'http://localhost:8000',
      userId: '1',
      name: 'User1'
    });
    
    
    </script>


  </body>
</html>
